{% extends 'dashboard/index.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-wrapper container">
        <div class="page-heading">
            <h3>{{obj.full_name}} > Edit</h3>
        </div>
     
        <div class="page-content">
            <div class="card-body">
                {% for message in messages %}

                <div class="alert alert-danger" role="alert">
                       Profile already exists!
                   </div>
           {% endfor %}
            <form method="POST">
                {% csrf_token %}
            <section class="section">
                <div class="card">
                    <div class="card-header"
                         style="background-color: #FBDB48; padding-left: 25px; padding-top: 15px; padding-bottom: 15px">
                        <h4>Profile</h4>
                    </div>
                    <div class="card-body" style="padding-top: 25px">
                        <div class='form-group'>

                            <div class="row">
                                    <div class="col-md-2" style="padding-top: 10px">Full Name:</div>
                                    <div class="col-md-3" style="padding-top: 10px">{{ form.first_name }}</div>
                                    <div class="col-md-3" style="padding-top: 10px">{{ form.middle_name }}</div>
                                    <div class="col-md-3" style="padding-top: 10px">{{ form.last_name }}</div>
                                    <div class="col-md-1" style="padding-top: 10px">{{ form.suffix }}</div>
                                </div>
                        </div>
                        <div class='form-group'>

                            <div class="row">
                                    <div class="col-md-2" style="padding-top: 10px">Address:</div>
                                    <div class="col-md-2" style="padding-top: 10px">{{ form.region }}</div>
                                    <div class="col-md-2" style="padding-top: 10px">{{ form.province }}</div>
                                    <div class="col-md-2" style="padding-top: 10px">{{ form.municipality }}</div>
                                    <div class="col-md-2" style="padding-top: 10px">{{ form.barangay }}</div>
                                    <div class="col-md-2" style="padding-top: 10px">{{ form.purok }}</div>
                                </div>
                        </div>
                        <div class='form-group'>

                            <div class="row">
                                    <div class="col-md-2" style="padding-top: 10px">Sex assigned by birth:</div>
                                    <div class="col-md-2" style="padding-top: 10px">{{ form.sex }}</div>
                                    <div class="col-md-1" style="padding-top: 10px">Age:</div>
                                    <div class="col-md-1" style="padding-top: 10px">{{ form.age }}</div>
                                    <div class="col-md-1" style="padding-top: 10px">Birthday:</div>
                                    <div class="col-md-3" style="padding-top: 10px">{{ form.birthday }}</div>
                                </div>
                        </div>
                        <div class='form-group'>

                            <div class="row">
                                    <div class="col-md-2" style="padding-top: 10px">Email Address:</div>
                                    <div class="col-md-3" style="padding-top: 10px">{{ form.email }}</div>
                                    <div class="col-md-2" style="padding-top: 10px">Contact Number:</div>
                                    <div class="col-md-3" style="padding-top: 10px">{{ form.contact_number }}</div>
                                    
                                </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section">
                <div class="card">
                    <div class="card-header"
                    style="background-color: #FBDB48; padding-left: 25px; padding-top: 15px; padding-bottom: 15px">
                    <h4>Demographic Characteristics</h4>
                    </div>
                    <div class="card-body" style="padding-top: 25px">
                        <div class='form-group'>

                            <div class="row">
                                    <div class="col-md-2" style="padding-top: 10px">Civil Status:</div>
                                    <div class="col-md-3" style="padding-top: 10px">{{ form.civil_status }}</div>
                                    <div class="col-md-1"></div>
                                    <div class="col-md-2" style="padding-top: 10px">Youth Classification:</div>
                                    <div class="col-md-3" style="padding-top: 10px">{{ form.youth_classification }}</div>
                                    
                                   
                                </div>
                        </div>
                        <div class='form-group'>

                            <div class="row">
                                <div class="col-md-2" style="padding-top: 10px">Youth Age Group:</div>
                                <div class="col-md-3" style="padding-top: 10px">{{ form.youth_age_group }}</div>
                                <div class="col-md-1"></div>
                                <div class="col-md-2" style="padding-top: 10px">Work Status:</div>
                                <div class="col-md-3" style="padding-top: 10px">{{ form.work_status }}</div>
                                
                                </div>
                        </div>
                        <div class='form-group'>
                                
                            <div class="row">
                                <div class="col-md-2" style="padding-top: 10px; ">Educational Background:</div>
                                <div class="col-md-3" style="padding-top: 10px">{{ form.educational_background }}</div>
                                <div class="col-md-1"></div>
                                <div class="col-md-1" style="padding-top: 10px">SK Voter:</div>
                                <div class="col-md-1" style="padding-top: 10px">{{ form.sk_voter }}</div>
                                <div class="col-md-2" style="padding-top: 10px">National Voter:</div>
                                <div class="col-md-1" style="padding-top: 10px">{{ form.national_voter }}</div>
                                
                                </div>
                        </div>
                        
                    </div>
                </div>
            </section>
            <div style="display:flex;justify-content:center;align-items:center; margin-bottom: 30px">
                <div>
                    <button type="submit" class="btn btn-lg btn-outline-primary">Submit</button>
                    <button type="reset" class="btn btn-lg btn-outline-secondary">Reset</button>
                    
                </div>
              </div>
            </form>
        </div>
    </div>
    {% block footer %}
    <footer>
        <div class="container">
            <div class="footer clearfix mb-0 text-muted">
                <div class="float-start">
                    <p>
                        2022 &copy; SK - Obrero
                    </p>
                </div>
                <div class="float-end">
                    <p>
                    Crafted with <span class="text-danger"><i class="bi bi-heart"></i></span> by R. Buen
                </p>
            </div>
        </div>
    </div>
</footer>
{% endblock  %}
{% endblock %}

