
{% extends 'dashboard/index.html' %}
{% load static %}
{% block content %}
<div class="content-wrapper container">
    <div class="page-heading">
        <h3>Profiles</h3>
    </div>
    <div class="page-content">
        <section class="section">
            <div class="card">
                
                <div class="card-body">
                    <section class="section">
                        <div class="card">
                            
                            <div class="card-body" style="overflow-x:auto;">
                                <table class="table" id="table1" >
                                    <thead>
                                        <tr>
                                            <th>Full Name</th>
                                            <th>Sex</th>
                                            <th>Purok</th>
                                            <th>Age</th>
                                            <th>Youth Classification</th>
                                            <th>Work Status</th>
                                            <th>Educational Background</th>
                                            
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for data in datas%}
                                        <tr>
                                            <td><a href="{% url 'profile_page' data.slug%}">{{data.full_name}}</a></td>
                                            <td>{{ data.sex | default_if_none:"" }}</td>
                                            <td>{{data.purok| default_if_none:""}}</td>
                                            <td>{{data.age| default_if_none:""}}</td>
                                            <td>{{data.youth_classification| default_if_none:""}}</td>
                                            <td>{{data.work_status| default_if_none:""}}</td>
                                            <td>{{data.educational_background| default_if_none:""}}</td>
                                            
                                        </tr>
                                        {%endfor%}
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                
                    </section>
                </div>
            </div>
        </section>
    </div>
</div>

{% block footer %}
<footer>
    <div class="container">
        <div class="footer clearfix mb-0 text-muted">
            <div class="float-start">
                <p>
                    2022 &copy; SK - Obrero
                </p>
            </div>
            <div class="float-end">
                <p>
                Crafted with <span class="text-danger"><i class="bi bi-heart"></i></span> by R. Buen
            </p>
        </div>
    </div>
</div>
</footer>
{% endblock  %}
    
{% endblock %}

{%block js%}
<script src="{% static 'assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js'%}"></script>
    <script src="{% static 'assets/js/bootstrap.bundle.min.js'%}"></script>
    
<script src="{% static 'assets/vendors/jquery/jquery.min.js'%}"></script>
<script src="{% static 'assets/vendors/jquery-datatables/jquery.dataTables.min.js'%}"></script>
<script src="{% static 'assets/vendors/jquery-datatables/custom.jquery.dataTables.bootstrap5.min.js'%}"></script>
<script src="{% static 'assets/vendors/fontawesome/all.min.js'%}"></script>
<script>
    // Jquery Datatable
    let jquery_datatable = $("#table1").DataTable()
</script>
{%endblock%}
